* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
  margin: 3em auto;
  max-width: 30em;
}

p,
fieldset {
  margin-top: calc(1em + 1ex);
  margin-bottom: calc(1em + 1ex);
}

fieldset {
  width: 100%;
  padding: 0 calc(1em + 1ex);
}

textarea {
  width: 100%;
}

input,
select,
textarea {
  font: inherit;
}

a {
  color: #0367d8;
}

label {
  display: block;
  margin-top: calc(0.5 * (1em + 1ex));
  margin-bottom: calc(0.5 * (1em + 1ex));
}

input {
  font: inherit;
}

output {
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: hsl(214deg 13% 7.5%);
    color: hsl(214deg 13% 95%);
  }
}
